.signup {
  background-color: var(--color-light-navy);
  overflow: hidden;
  position: relative;
}

.semiCircles {
  bottom: 0;
  position: absolute;
  right: -16rem;
}

.content {
  align-items: center;
  display: flex;
  height: 30rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--content-max-width);
}

.text {
  max-width: 45rem;
}

.heading {
  color: var(--color-white);
  font-family: var(--font-space-mono);
  font-size: 4.8rem;
}

.icons {
  display: flex;
  gap: 2rem;
}
