.featuresSection {
  position: relative;
}

.lineWrapper {
  margin: 0 auto;
  max-width: 144rem;
}

.line {
  position: relative;
  top: 22rem;
  width: 70%;
  z-index: -1;
}

.featuresWrapper {
  display: flex;
  gap: 3rem;
  margin: 16rem auto;
  max-width: var(--content-max-width);
}

.featureCard {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 35rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.heading {
  color: var(--color-light-navy);
  font-family: var(--font-space-mono);
  font-size: 2.4rem;
}

.text {
  color: var(--color-dim-grey);
  font-family: var(--font-lexend-deca);
  font-size: 1.5rem;
  line-height: 1.7;
}
