.faq {
  align-items: center;
  background-color: var(--color-snow);
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 4rem;
  width: 100%;
}

@media (max-width: 700px) {
  .faq {
    gap: 1rem;
    padding: 3rem;
  }
}

.heading {
  color: var(--color-light-navy);
  flex-shrink: 10;
  font-family: var(--font-space-mono);
  font-size: 2.4rem;
}

@media (max-width: 700px) {
  .heading {
    font-size: 1.8rem;
  }
}
