.button {
  background-color: var(--color-yellow);
  border: none;
  color: var(--color-snow);
  cursor: pointer;
  font-family: var(--font-space-mono);
  font-size: var(--default-font-size);
  height: 5.4rem;
  width: 18rem;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: transparent;
    border: solid var(--color-yellow) 3px;
    color: var(--color-yellow);
  }
}
