:root {
  /* Colors */
  --color-yellow: #fcb72b;
  --color-dark-navy: #495567;
  --color-dim-grey: #939caa;
  --color-light-grey: #e5ecf4;
  --color-snow: #f2f5f9;
  --color-light-yellow: #fff4df;

  /* Fonts */
  --font-space-mono: 'Space Mono', monospace;
  --font-lexend-deca: 'Lexend Deca', sans-serif;
}
