:root {
  /* Colors */
  --color-yellow: #fcb72b;
  --color-dark-navy: #333a44;
  --color-light-navy: #495567;
  --color-dim-grey: #939caa;
  --color-light-grey: #e5ecf4;
  --color-snow: #f2f5f9;
  --color-light-yellow: #fff4df;
  --color-white: #fff;

  /* Fonts */
  --font-space-mono: 'Space Mono', monospace;
  --font-lexend-deca: 'Lexend Deca', sans-serif;
  --default-font-size: 1.5rem;

  /* Layout */
  --content-max-width: 110rem;
}
