.feature {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 16rem auto;
  max-width: var(--content-max-width);
  position: relative;
}

@media (max-width: 1000px) {
  .feature {
    flex-direction: column;
    gap: 8rem;
    margin: 10rem auto;
  }
}

@media (max-width: 700px) {
  .feature {
    margin: 1rem 3rem 12rem 3rem;
  }
}

.featureReverse {
  flex-direction: row-reverse;
}

@media (max-width: 1000px) {
  .featureReverse {
    flex-direction: column;
  }
}

.circle {
  position: absolute;
  right: -51rem;
}

@media (max-width: 1000px) {
  .circle {
    right: -36rem;
  }
}

@media (max-width: 700px) {
  .circle {
    display: none;
  }
}

.circleReverse {
  left: -51rem;
  position: absolute;
}

@media (max-width: 1000px) {
  .circleReverse {
    left: -36rem;
  }
}

@media (max-width: 700px) {
  .circleReverse {
    display: none;
  }
}

.arrow {
  position: absolute;
  right: -26rem;
  top: 25rem;
  z-index: 1;
}

@media (max-width: 1000px) {
  .arrow {
    left: 23%;
    right: initial;
  }
}

@media (max-width: 500px) {
  .arrow {
    top: 20%;
  }
}

.arrowReverse {
  left: -26rem;
  position: absolute;
  top: 25rem;
  transform: scaleX(-1);
  z-index: 1;
}

@media (max-width: 1000px) {
  .arrowReverse {
    left: initial;
    right: 23%;
  }
}

@media (max-width: 500px) {
  .arrowReverse {
    top: 20%;
  }
}

.content {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: right;
}

@media (max-width: 1000px) {
  .content {
    align-items: center;
    text-align: center;
  }
}

.contentReverse {
  align-items: flex-start;
  text-align: left;
}

@media (max-width: 1000px) {
  .contentReverse {
    align-items: center;
    text-align: center;
  }
}

.heading {
  color: var(--color-light-navy);
  font-family: var(--font-space-mono);
  font-size: 4.8rem;
  max-width: 50rem;
}

@media (max-width: 700px) {
  .heading {
    font-size: 3rem;
  }
}

.text {
  color: var(--color-dim-grey);
  font-family: var(--font-lexend-deca);
  font-size: 1.5rem;
  line-height: 1.7;
  max-width: 44rem;
}

@media (max-width: 1000px) {
  .text {
    max-width: 56rem;
  }
}

.imageWrapper img {
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .imageWrapper {
    order: -1;
  }
}
