.featuresSection {
  position: relative;
}

.lineWrapper {
  margin: 0 auto;
  max-width: 144rem;
}

.line {
  position: relative;
  top: 22rem;
  width: 70%;
  z-index: -1;
}

.featuresWrapper {
  display: flex;
  gap: 3rem;
  margin: 16rem auto;
  max-width: var(--content-max-width);
}
