.header {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
}

.headerWrapper {
  align-items: center;
  display: flex;
  gap: 6rem;
  height: 9.6rem;
  margin: 0 4rem;
  max-width: var(--content-max-width);
  width: 100%;
}

@media (max-width: 700px) {
  .headerWrapper {
    gap: 0;
    height: 6.4rem;
    margin: 0 3rem;
  }
}

.hamburgerIcon {
  display: none;
}

@media (max-width: 700px) {
  .hamburgerIcon {
    display: initial;
  }
}

@media (max-width: 700px) {
  .logo {
    margin: 0 auto;
    transform: scale(0.75);
  }
}

@media (max-width: 700px) {
  .navWrapper {
    display: none;
  }
}

.buttonWrapper {
  margin-left: auto;
}

@media (max-width: 700px) {
  .buttonWrapper {
    display: none;
  }
}
