.header {
  background-color: var(--color-white);
}

.headerWrapper {
  align-items: center;
  display: flex;
  height: 9.6rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--content-max-width);
}

@media (max-width: 1200px) {
  .headerWrapper {
    padding: 0 4rem;
  }
}
