.header {
  background-color: var(--color-white);
}

.headerWrapper {
  align-items: center;
  display: flex;
  height: 9.6rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--content-max-width);
}
