.footer {
  background-color: var(--color-dark-navy);
}

.footerWrapper {
  align-items: center;
  display: flex;
  height: 9.6rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--content-max-width);
}

.socialLinks {
  align-items: center;
  display: flex;
  gap: 2rem;
}
