.footer {
  background-color: var(--color-dark-navy);
}

.footerWrapper {
  align-items: center;
  display: flex;
  height: 9.6rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--content-max-width);
}

@media (max-width: 1200px) {
  .footerWrapper {
    margin: 0 4rem;
  }
}

@media (max-width: 700px) {
  .footerWrapper {
    flex-direction: column;
    gap: 6rem;
    height: 44rem;
    justify-content: center;
  }
}

.socialLinks {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.socialLink {
  fill: var(--color-yellow);
}

@media (hover: hover) and (pointer: fine) {
  .socialLink:hover {
    fill: var(--color-light-grey);
  }
}
